<mat-form-field class="full-width">
    <mat-label>Título</mat-label>
    <input matInput>
</mat-form-field>

<mat-form-field class="full-width">
    <mat-label>Descripción</mat-label>
    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="8"></textarea>
</mat-form-field>

<mat-chip-listbox aria-label="Fish selection" multiple [(ngModel)]="data">
    <mat-chip-option [value]="1">One fish</mat-chip-option>
    <mat-chip-option [value]="2">Two fish</mat-chip-option>
    <mat-chip-option [value]="3" color="accent" selected>Accent fish</mat-chip-option>
    <mat-chip-option [value]="4" color="warn">Warn fish</mat-chip-option>
</mat-chip-listbox>

{{ data | json }}

<button mat-flat-button color="primary" class="full-width" style="margin-bottom: 1rem;" (click)="crear();">Crear
    Anuncio</button>

<button mat-stroked-button color="primary" class="full-width" [routerLink]="['/anuncios']">Cancelar</button>