.full-width {
    width: 100%;
}

.galery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.galery .galery__item{
    width: 100%;
    aspect-ratio: 9 / 16;
    border: 0.5px solid #757575;
    border-style: dashed;
    border-radius: 10px;
}

body {
    background: red !important;
}